{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphabet - SIGNSCAPE</title>
    <link rel="stylesheet" href="{% static 'library.css' %}">
    <link rel="stylesheet" href="{% static 'alphabet.css' %}">
</head>
<body>
    <div class="image-container">
        <div class="main-container">
            <div class="navbar"> 
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'library' %}">LIBRARY</a></li>
                        <li><a href="{% url 'game' %}">GAME</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="overlay-text">
            <p>Hello Friend! Welcome to our space.</p>
            <h1>SIGNSCAPE</h1>
            <h2>EXPLORE THE WORLD OF SIGN LANGUAGE</h2>
        </div>
    </div>
    
    <div class="alphabet-section">
        <h2>Alphabet</h2>
        <div class="letter-container">
            <div class="letter-box">
            <label>A</label>
            <img src="https://i.pinimg.com/originals/db/81/5e/db815ec1c263e6f81b8273d4f3db9e51.png" alt="Letter A">
            <p>A closed fist, all finger folded against the palm, thumb is straight, alongside the index finger.</p>
        </div>

            <div class="letter-box">
            <label>B</label>
            <img src="https://i.pinimg.com/originals/c9/95/14/c995143a7ba81834d6ea7b7b34348fcd.png" alt="Letter B">
            <p>All fingers are straight. Thumb is folded across palm.</p>
        </div>
        <div class="letter-box">
            <label>C</label>
            <img src="https://i.pinimg.com/originals/12/d1/05/12d105b17749abc61b20214cfb9291f3.png" alt="Letter A">
            <p>All fingers partially folded. Thumb is partially folded. Hand is turn slightly to the left so viewer can see backward "C" shape formed by thumb and index finger.</p>
        </div>
        <div class="letter-box">
            <label>D</label>
            <img src="https://www.teachersprintables.net/samples/Letter_D-Filled-With_Label.png" alt="Letter A">
            <p>Middle, ring and little fingers are partially folded. Tip of thumb is touching tip of middle finger. Index finger is straight. Hand is turned slightly so viewer can see "d" shape formed by thumb, middle and index fingers.</p>
        </div>
        <div class="letter-box">
            <label>E</label>
            <img src="https://i.pinimg.com/originals/47/32/52/473252d3a15db980045a625551c61f62.png" alt="Letter A">
            <p>Thumb is folded across in front of palm but not touching it. All fingers are partially folded with the tips of index, middle and ring fingers touching the thumb between the knuckle and the tip.</p>
        </div>
        <div class="letter-box">
            <label>F</label>
            <img src="https://i.pinimg.com/474x/49/89/c0/4989c0b5a532dffebc942d7dd562fe27.jpg" alt="Letter A">
            <p>Tip of index finger is touching tip of thumb. Middle, ring and little fingers are straight and slightly spread.</p>
        </div>
        <div class="letter-box">
            <label>G</label>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpjWXqLXGXjv1uxFH5JlHx4VyBeqDsk8lE7g&s" alt="Letter A">
            <p>Middle, ring and little fingers are folded down across palm. Thumb is straight but pulled in so that it is in front of the index finger. The index finger is straight and pointing forwards slightly so that it is parallel to the thumb, The thumb and index finger are not touching. The whole hand is turned towards the left and tilted slightly so the thumb and index finger are towards the viewer and pointing up at about 45 degrees.</p>
        </div>
        <div class="letter-box">
            <label>H</label>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqRpHdFg7eFFVlLAnCd-0A0Q9WiNY6FDAcZg&s" alt="Letter A">
            <p>Ring and little finger are folded down. Thumb is folded over ring and little finger. Index finger and middle finger are straight and together. The hand is tilted over so that the fingers are horizontal and pointing to the left.</p>
        </div>
        <div class="letter-box">
            <label>I</label>
            <img src="https://www.teachersprintables.net/samples/Letter_I-Filled-With_Label.png" alt="Letter A">
            <p>Index, middle and ring fingers are folded down. Thumb is folded across index middle and ring fingers. Little finger is straight.</p>
        </div>
        <div class="letter-box">
            <label>J</label>
            <img src="https://www.teachersprintables.net/samples/Letter_J-Filled-With_Label.png" alt="Letter A">
            <p>Index, middle and ring fingers are folded down. Thumb is folded across index middle and ring fingers. Little finger is straight. The hand is moved so that little finger draws a "J" shape. Motion is a curve moving forward and then right. The hand turns to the right.</p>
        </div>
        <div class="letter-box">
            <label>K</label>
            <img src="https://i.pinimg.com/originals/5a/39/56/5a3956339a536f8b76bd34e7f69d67eb.png" alt="Letter A">
            <p>Ring and little fingers are folded down. Index and middle finger are straight and slightly spread. Thumb is straight and pointing up to the middle finger. (This is very similar to V the only difference is the position of the thumb.</p>
        </div>
        <div class="letter-box">
            <label>L</label>
            <img src="https://i.pinimg.com/originals/2b/cd/41/2bcd411cb8df3bfaca89271ee11fd5af.png" alt="Letter A">
            <p>Middle, ring and little finger are folded down over palm. Index finger and thumb are straight. Thumb is sticking out sideways at 90 degrees to index finger to form "L" shape.</p>
        </div>
        <div class="letter-box">
            <label>M</label>
            <img src="https://i.pinimg.com/originals/84/b6/2b/84b62bee7046b11a013587d135b66407.png" alt="Letter A">
            <p>Little finger is folded. Thumb is folded across to touch little finger. Index, middle and ring fingers are folded down over thumb.</p>
        </div>
        <div class="letter-box">
            <label>N</label>
            <img src="https://i.pinimg.com/originals/45/8d/8b/458d8b24a1b0e8d93d49763723079b8f.png" alt="Letter A">
            <p>Little and ring finger are folded. Thumb is folded across ring and little finger. Index finger and middle finger are folded down over thumb.</p>
        </div>
        <div class="letter-box">
            <label>O</label>
            <img src="https://i.pinimg.com/originals/e0/81/dc/e081dc98ced43b6586df577d401cca3a.png" alt="Letter A">
            <p>All fingers are partially folded. Thumb is partially folded and tip of thumb is touching tip of index finger. Hand is turned slightly so viewer can see "O" shape formed by thumb and index finger.</p>
        </div>
        <div class="letter-box">
            <label>P</label>
            <img src="https://i.pinimg.com/originals/27/7a/18/277a181d7adc24caeee1c35ef5e8c10a.png" alt="Letter A">
            <p>Ring and little finger are folded down. Index finger is straight. Middle finger is straight but pointing forward so that is at 90 degrees to index finger. Tip of thumb is touching middle of middle finger. Hand is turned to the left and twisted over so that index finger is horizontal and middle finger is pointing down. Viewer can (sort of) see a "P" shape formed by middle finger and thumb.</p>
        </div>
        <div class="letter-box">
            <label>Q</label>
            <img src="https://i.pinimg.com/originals/18/4f/cf/184fcf998d60962bea46eb91d62e2073.png" alt="Letter A">
            <p>Ring and little fingers are folded down across palm. Thumb is straight but pulled in so that it is in front of the index finger. The index finger is straight and pointing forwards slightly so that it is parallel to the thumb. The index finger and thumb are not touching. The Middle finger is bent down and across to the right of the thumb (this hurts !). The whole hand is turned towards the left and tilted so the thumb and index finger are towards the viewer and pointing almost straight down.</p>
        </div>
        <div class="letter-box">
            <label>R</label>
            <img src="https://i.pinimg.com/originals/a9/e3/2d/a9e32de6a7de7ff93b2c1876e2439a6f.png" alt="Letter A">
            <p>Ring and little finger are folded against the palm, held down by thumb, index and middle finger are straight and crossed, index finger in front.</p>
        </div>
        <div class="letter-box">
            <label>S</label>
            <img src="https://i.pinimg.com/474x/25/ba/c8/25bac89afd5e0cb6ceae497e0757ab25.jpg" alt="Letter A">
            <p>Clenched fist. All fingers folded tightly into palm. Thumb is across index and middle fingers.</p>
        </div>
        <div class="letter-box">
            <label>T</label>
            <img src="https://i.pinimg.com/originals/e5/34/6c/e5346cf8212d89aadb4f76059c8242fe.png" alt="Letter A">
            <p>Middle, ring and little fingers are fold down across palm. Thumb is folded across middle finger. Index finger is folded over thumb.</p>
        </div>
        <div class="letter-box">
            <label>U</label>
            <img src="https://i.pinimg.com/originals/4f/cb/f5/4fcbf5353d902d41336fc32569c6864e.png" alt="Letter A">
            <p>Ring and little finger are folded against the palm, held down by thumb, index and middle finger are straight and together.</p>
        </div>
        <div class="letter-box">
            <label>V</label>
            <img src="https://i.pinimg.com/originals/3a/fe/91/3afe91cb29fb52c54f93eaf16e21a994.png" alt="Letter A">
            <p>Ring and little finger fold against the palm, held down by thumb, index and middle finger are straight and spread to form a "V" shape.</p>
        </div>
        <div class="letter-box">
            <label>W</label>
            <img src="https://i.pinimg.com/originals/a6/45/66/a64566c29025bb10db9291460f85f4f6.png" alt="Letter A">
            <p>Tip of little finger is touching tip of thumb. Index, middle and ring fingers are straight and slightly spread.</p>
        </div>
        <div class="letter-box">
            <label>X</label>
            <img src="https://i.pinimg.com/474x/bb/c9/03/bbc903655bb5d83d024afaf0421cd975.jpg" alt="Letter A">
            <p>Middle, ring and little fingers are folded down. Index finger is bent at both joints. Thumb is pulled in and slightly bent at the joint. The hand is turned to the left so view can see thumb and index finger.</p>
        </div>
        <div class="letter-box">
            <label>Y</label>
            <img src="https://www.teachersprintables.net/samples/Letter_Y-Filled-With_Label.png" alt="Letter A">
            <p>Index, middle and ring ringers folded against palm. Little finger and thumb are straight and spread wide.</p>
        </div>
        <div class="letter-box">
            <label>Z</label>
            <img src="https://i.pinimg.com/originals/98/16/3c/98163c903ddf055f1e3560e5ba8d56dc.png" alt="Letter A">
            <p>Middle, ring and little fingers are folded. Thumb is folded across middle and ring fingers. Index finger is straight. The hand is moved so that the tip of index finger draws out a "Z" shape. The motion is (1) from right to left. (2) from left to right and forward. (3) from right to left.</p>
        </div>
    </div>
</div>

    <footer class="footer">
        <div class="footer-left">
            <p>All Right Reserved | 2024</p>
        </div>
        <div class="footer-right">
            <p>Term of Services • Privacy Policy</p>
        </div>
    </footer>
</body>
</html>
