{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Communication - SIGNSCAPE</title>
    <link rel="stylesheet" href="{% static 'library.css' %}">
    <link rel="stylesheet" href="{% static 'communication.css' %}">
</head>
<body>
    <div class="image-container">
        <div class="main-container">
            <div class="navbar"> 
                <nav>
                    <ul>
                        <li><a href="{% url 'home' %}">HOME</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'library' %}">LIBRARY</a></li>
                        <li><a href="{% url 'game' %}">GAME</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="overlay-text">
            <p>Hello Friend! Welcome to our space.</p>
            <h1>SIGNSCAPE</h1>
            <h2>EXPLORE THE WORLD OF SIGN LANGUAGE</h2>
        </div>
    </div>
    
    <div class="alphabet-section">
        <h2>Communication Words</h2>
        <div class="letter-container">
            <div class="letter-box">
            <label>Hello</label>
            <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWI2ZDNqanlqYnZ6bjJremlkbmN3d2cxeHBtbHJjYTlwa2xrM3JodCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/DcPfy7StVKeB5dv0ND/giphy.webp" alt="Letter A">
            <p>simply place the hand you are writing with on your forehead close to your ear and move it outwards and away from your body. Don’t forget to smile!</p>
        </div>

            <div class="letter-box">
            <label>Good Morning</label>
            <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTR1d2Z0a3NqMGhiYnJ4dGozMWFoY2Rsdjdmc3djN3Awdzh3aXNpdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/bca845IE1doIXVJCcw/giphy.webp" alt="Letter B">
            <p>This is a two part sign. First sign “good” by touching one flat hand to your chin and bringing it down to meet your other hand, which is at about waist
                height and palm up.
                Next sign “morning” by bending the elbow of one arm, leaving the arm parallel to your body, and resting the finger tips in the crook of the elbow of your second arm. With the second hand, bring the flat and palm up hand from under the first arm up and towards you – like the sun coming up over the horizon.
                Put together, this is a Good – Morning!</p>
        </div>
        <div class="letter-box">
            <label>Thank You.</label>
            <img src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExYndqNnhqZWgxeTl3Z2JuZm9nYmo4czVva2xjd2hkZTB4cndoZjJjciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/iAoz6HVfoOtsFQNfQv/giphy.webp" alt="Letter A">
            <p>you take your dominant hand (depending on whether you are left- or right-handed) to your chin and move it slightly down and towards the person you are talking to.</p>
        </div>
        <div class="letter-box">
            <label>Nice To Meet You.</label>
            <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcW5hb2o3cHB0YjNjZmU3dW5wNjdzOTF2em1tazc1ZXJrd21rMHMzdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0HU7KdXyfik1y9m8/giphy.webp" alt="Letter A">
            <p>1. This is a three part sign. First sign nice by brushing the palms of one hand gently over the other.
                2. Next sign meet. To do this, raise the pointer fingers on both hands and tuck the remaining fingers into both palms in a small circle. Bump the knuckles of the hands gently together – like two people coming up to meet.
                3. To sign the word you, simply point to the person you are referencing.
                4. When strung together, this sign tells a person meeting them is pleasant! Use this concept to help you remember the sign..</p>
        </div>
        <div class="letter-box">
            <label>Welcome</label>
            <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDhpd2N1anhxbGVza2I2MnQxandsNnFpNWJyMDZod2M0Ym41djg5MyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/2swqKqr8ckr6RBoqB1/giphy.webp" alt="Letter A">
            <p> Holding the flat hand palm up out away from your body (off to the right a bit) and then bringing the hand in toward your torso.</p>
        </div>
        <div class="letter-box">
            <label>Sorry</label>
            <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNm85ZzE3YTN0YmpwdWdja2JxNmRoOW90bW55c3lxYnFrYzMyOG94biZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/O3Y6PNoxxFvynAprvi/giphy.webp" alt="Letter A">
            <p>Make a fist and lay it on your chest, right over your heart. Rub the fist in a circle a few times. At the same time, show how sorry you are by your facial expression. When you're sorry, you feel it in your heart.</p>
        </div>
        <div class="letter-box">
            <label>Goodbye</label>
            <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExb21hYTlyN3NnY2x4M2djeGVrNGxrdmxzM293cXZnM3RqdWVoeXQzMyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Y0va7vO59itgoiMtBl/giphy.webp" alt="Letter A">
            <p>Goodbye is the same as the traditional gesture for the word. Open your palm, folding down your fingers, then open your palm again. An ASL alternative for goodbye or bye-bye is to wave your open hand sideways, like a leaf swaying in the wind.</p>
        </div>
        
    </div>
</div>

    <footer class="footer">
        <div class="footer-left">
            <p>All Right Reserved | 2024</p>
        </div>
        <div class="footer-right">
            <p>Term of Services • Privacy Policy</p>
        </div>
    </footer>
</body>
</html>
