body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
    background-color: #0c0c47;
  }
  
  .container {
    background-color: rgba(80, 82, 112, 0.7);
    padding: 20px;
    border-radius: 10px;
    position: relative; 
  }
  
  .instructions {
    text-align: center;
    color: #fff;
    margin-bottom: 50px; 
  }
  
  ol {
    padding-left: 20px;
    list-style: none;
    margin-bottom: 50px; 
  }
  
  ol li {
    background-color: #3a3a4f;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .home-button {
    position: absolute;
    bottom: 5px; 
    right: 20px;
    background-color: #3a3a4f;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
    z-index: 1;
  }
  
  .home-button:hover {
    background-color: #3a3a4f;
  }
  
  .mascot {
    position: absolute;
    top: 50px;
    bottom: 5px;
    left: 700px;
    width: 200px; 
    height: auto;
    z-index: 1; 
    transition: transform 0.3s ease-in-out; 
    cursor: pointer; 
  }
  
  .mascot:hover {
    transform: scale(1.1);
  }
  